h1{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 8vh;
}

h2{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 5vh;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;
    font-family: sans-serif;
}

h4 {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    font-family: sans-serif;
}