#dimensions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}



/* Text Base */ 

h1 {
    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 4vh;
}

h2 {
    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 3vh;
}


h3 {
    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 2vh;
}

h4 {
    font-family: "Bauhaus 93", sans-serif; /* Geometric, Modernist */
    font-size: 4vh;
    font-weight: bold;
}

h5 {
    font-family: "Frank Lloyd Wright", serif; /* Inspired by FLW’s typography */
    font-size: 3vh;
    font-weight: normal;
}

h6 {
    font-family: "Century Gothic", sans-serif; /* Minimalist, clean curves */
    font-size: 2.5vh;
    font-weight: normal;
}

h4.special {
    font-family: "Axiforma", sans-serif; /* Sleek, futuristic, UI-friendly */
    font-size: 4vh;
    font-weight: bold;
}

h5.special {
    font-family: "ITC Avant Garde Gothic", sans-serif; /* Elegant, art-deco-inspired */
    font-size: 3vh;
    font-weight: normal;
}

h6.special {
    font-family: "Tungsten", sans-serif; /* Industrial, strong aesthetic */
    font-size: 2.5vh;
    font-weight: bold;
}

/* Style list items */
ul {
    font-family: "Big Caslon", serif;
    font-size: 2vh;

}
/* Style specific words differently */
li {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Big Caslon", serif;
}

