
/* Highlight new vocabulary words */
li::first-word {
    font-weight: bold;
    font-style: italic;
}

p {
    
    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 2.3vh;
}


h1 {
    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 4vh;
}

h2 {
    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 3vh;
}


h3 {
    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 2vh;
}


h4 {
    font-family: "Big Caslon", serif;
    font-weight: normal;    
    font-size: 4vh;
}

h5 {
    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 3vh;
}

/* Style list items */
ul {
    font-family: "Big Caslon", serif;
    font-size: 2vh;

}

/* Style specific words differently */
li {
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Big Caslon", serif;
}


h6{

    font-family: "Big Caslon", serif;
    font-weight: normal;
    font-size: 2vh;

}

.main {
    font-weight: normal;
    text-align: left;
    font-size: 2vh;

}

.center {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.title-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
}

.title-container spacer {
    flex-grow: 1;
    max-width: 75%;
}

.title {
    flex-shrink: 0;
    white-space: nowrap;
}

#name {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 10vh;
}

.matter-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.mc-spacer {
    flex-grow: 1;
    max-width: 20%;
}

.ticker-container {
    max-height: 30px;
    margin-bottom: 20px;
    width: 100vw;
}

.index {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 10%;
    border-bottom: 1px solid #000;
    font-size: 20px;
}

.header .name {
    font-size: 20px;
    
}

.header a {
    color: #000;
    text-decoration: none;
    margin: 0 10px; /* Adjust as needed */
    font-size: 14px;
        
}

.header a:hover {
    text-decoration: underline;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Big Caslon", serif;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%;
}
